body {
  background-color: lightblue !important;
  background-attachment: fixed;
  font-size: 22px !important;
}

#page-size {
  min-height: 100vh !important;
}

#logoutButton {
  margin-top: auto;
}

#sideBarButtons {
  color: black;
}

#navbar {
  background-color: white;
}

#notificationBell {
  bottom: 15px;
  right: 15px;
  position: fixed;
}

#jobCard {
  transition: all .2s ease-in-out;
}

#jobCard:hover {
  transform: scale(1.06);
}

#huntJobItemContent {
  color: black;
  text-decoration: none;
}

#welcomeHome {
  font-size: 90px;
  font-weight: bold;
}

#welcomeHomeName {
  font-size: 50px;
  font-weight: bold;
}

#welcomeHomeRole {
  font-size: 40px;
}

#welcomeHomeCard {
  transition: all .2s ease-in-out;
}

#welcomeHomeCard:hover {
  transform: scale(1.06);
}