body {
  background-color: lightblue !important;
  background-attachment: fixed;
  font-size: 22px !important;
}

#page-size {
  min-height: 100vh !important;
}

#logoutButton {
  margin-top: auto;
}

#sideBarButtons {
  color: black;
}

#navbar {
  background-color: transparent;
}

#jobCard {
  transition: all .2s ease-in-out;
}

#jobCard:hover {
  transform: scale(1.06);
}